<div class="footer" style="width: 100%;
background: black;color: white;position:absolute;height: fit-content;">
    <br>
<div style="text-align: center;font-size: 18px;">
  <p>Contact Us: </p> <a href="#" data-toggle="tooltip" data-placement="left"
   title="teamblogwoodz@gmail.com" style="color: white;"><i class="far fa-envelope"></i></a> 
 
    <a href="https://www.instagram.com/blogwoodz/" style="color: white;">
        <i class="fab fa-instagram" style="margin-left: 10px;"></i></a>
</div>
<br>
<div style="text-align: center;">
    <p class="lead">2021 Copyright: <i class="far fa-copyright"></i> BlogWoodz</p>
</div>
</div>
