<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="other/favicon.png" type="image/x-icon">  
    
</head>
<body style="font-family: serif;font-size: 18px;padding: 10px;">
    <h2>Welcome to BlogWoodz!</h2>
    <p >Bloggily provides you the platform to express your ideas and share your stories
        online. It offers you features like chatting with other bloggers,view real-time
        trending of blogs and much more!
    </p>
    <p>To avail all these features all you need to do is click on the verification 
        link below:
    </p>
    <a href="">Click here</a>
    <br>
    <br>
    <p class="text-muted">Team Bloggily</p>
</html>